/*
Template basics
*/

body{
    background: #fff;
    font-size: 15px;
    line-height: 26px;
    color: #888;
    font-family: $theme-font;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: $primary-color;
    @include transition(all 0.3s);
    &:hover,&:focus{
        outline: 0!important;
        text-decoration: none;
        color: #999;
    }
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0px;
    color: #222;
    font-weight: 500;
    font-family: $title-font;
}

.lead small{
    font-size: 13px;
}
.label-primary{
    background: $primary-color;
}
.label{
    font-weight: 400;
}
label{
    font-weight: 400;
}
.label-danger{
    background: $danger-color;
}
.overflow-hidden{
    overflow: hidden;
}
input, input[type="text"], input[type="email"], textarea, .form-control{
    @include border-radius(0px);
    @include box-shadow(none);
    min-height: 45px;
    border-color: #eee;
    &:focus{
        border-color: $primary-color;
        @include box-shadow(none);
    }
}
.title-font{
    font-family: $title-font;
    font-weight: 700;
}
.font-700{
    font-weight: 700!important;
}
.font-400{
    font-weight: 400!important;
}
.font-300{
    font-weight: 300!important;
}
.font-900{
    font-weight: 900!important;
}
.margin-b-10{
    margin-bottom: 10px!important;
}
.margin-b-20{
    margin-bottom: 20px!important;
}
.margin-b-30{
    margin-bottom: 30px!important;
}
.margin-b-40{
    margin-bottom: 40px!important;
}
.margin-b-50{
    margin-bottom: 50px!important;
}
.margin-b-60{
    margin-bottom: 60px!important;
}
.margin-b-70{
    margin-bottom: 70px!important;
}
.space-10{
    height: 10px;
}
.space-20{
    height: 20px;
}
.space-30{
    height: 30px;
}
.space-40{
    height: 40px;
}
.space-50{
    height: 50px;
}
.space-60{
    height: 60px;
}
.space-70{
    height: 70px;
}
.space-80{
    height: 80px;
}
.rating{
    color: $primary-color;
}
.text-small{
    font-size: 13px!important;
    line-height: 22px;
}
.text-white{
    color: #fff!important;
}
.grey-bg{
    background-color: #f5f5f5;
}
.text-primary{
    color: $primary-color;
}
th{
    font-weight: 500!important;
}
button,input [type="submit"]{
    &:focus{
        outline: 0!important;
    }
}
/**page bradcrumb**/
.page-breadcrumb{
     background: url(../images/bg1.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 50%;
    padding-top: 150px;
    padding-bottom:50px;
    h4{
        margin-bottom: 0px;
        font-size: 30px;
        color: #fff;
        text-transform: capitalize;
        font-weight: 500;
    }
}
.parallax-banner{
    background: url(../images/bg1.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 50%;
    padding-top: 250px;
    padding-bottom: 150px;
    h1{
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-family: $title-font;
    }
    p{
        color:  rgba(255,255,255,0.9);
    }
}

.social-icons{
    a{
        display: block;
        width: 32px;
        height: 32px;
        line-height: 25px;
        text-align: center;
        @include border-radius(50%);
        border: 2px solid #ddd;
        color: #ddd;
        i{
            display: block;
            line-height: 32px;
        }
        &:hover{
            color: #fff;
            border-color: $primary-color;
            background-color: $primary-color;
        }
    }
}

/**sticky footer*/
html.footer-sticky, .footer-sticky body,.maintenance-page,.maintenance-page body {
    height: 100%;
}
@media(min-width:768px){
    .footer-sticky{
        .page-footer-sticky {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: flex;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            min-height: 100vh;
            min-height: 100%;
            .footer-sticky-wrap{
                -webkit-flex: 1 0 auto;
                -moz-flex: 1 0 auto;
                -ms-flex: 1 0 auto;
                flex: 1 0 auto;
                min-height: 0;
                height: auto;
                position: relative;
                right: 0;
                min-height: 100%;
                .footer-sticky-inner{
                    position: relative;
                    width: 100%;
                }
            }
        }
    }
}
.display-table{
    display: table;
    width: 100%;
    height: 100%;
    .vertical-middle{
        display: table-cell;
        vertical-align: middle;
    }
}

/**coming soon page**/
.maintenance-page-wrap{
    background: url(../images/bg1.jpg) no-repeat;
    background-attachment: fixed;
    background-position:50% 50%;
    a img{
        margin-bottom: 20px;
    }
    p{
        color: #fff;
        opacity: 0.9;
        -webkit-opacity:0.9;
    }
}
.timeTo figcaption{
    color: #fff;
}

/**pagination**/
.pagination>li>a, .pagination>li>span{
    color: $primary-color;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
        background-color: $primary-color;
    border-color: $primary-color;
}
.dropcap-text{
    &:first-letter{
        color: $primary-color;
        font-size: 30px;
        display: inline-block;
        margin-right: 10px;
    }
}
.dropcap-bg{
    &:first-letter{
       background-color: $primary-color;
       color: #fff;
       padding: 5px 10px;

        display: inline-block;
        margin-right: 10px;
    }
}

/**modal**/
.modal-boland{
    .modal-content{
         position: relative;
         padding:30px 15px;
         button.close {
    position: absolute;
    right: 10px;
    top: 10px;
}
    }
}
.modal-bg .modal-content{
    background: url(../images/bg1.jpg) no-repeat;
    color:#fff;
    button.close{
        color: #fff;
        opacity: 1;
    }
    h3{
        color: #fff;
    }
}
/**********back to top*************/
.scrollToTop {
  text-align: center;

  background: transparent;
  font-weight: bold;
  color: $primary-color;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  display: none;
  opacity: 0.5;
  line-height: 0px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  i.material-icons{
      font-size: 40px;
  }
}
.scrollToTop:hover {
  text-decoration: none;
  opacity: 1;
  color: $primary-color;
}

/**preloader**/
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../images/loader.gif") no-repeat center center;
}
